<html>

<head>
<title> 
  Query-Document Pair labelling
</title>
	<link href="./css/style.css" rel="stylesheet" type="text/css">
	<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="./js/jquery.validate.js"></script>
    <script type="text/javascript" src="./js/rangy-core.js"></script>
    <script type="text/javascript" src="./js/rangy-classapplier.js"></script>
    <script type="text/javascript" src="./js/rangy-highlighter.js"></script>
    <script src="./js/api.js"></script>
</head>
<body>

<div id = 'instructions_page'>
  <center><b>Thank you for participating in this study. </b> </center>
  <br/>
  <br/>
  <b>HIT Instructions </b>
  <br/>
  <div id= 'overview'>
    	You will be shown a search query and a web page. You will then be asked 
    	to answer some questions regarding the page and its content. 
    	Assume that you were to issue the given query to a search engine (for example Google) 
    	and were shown the corresponding webpage as search result, 
    	we ask you 9 questions regarding the some things. They mainly revolve around the following:
    	<ul>		
    			<li> <b>Relevance: </b> The given webpage is relevant if it provides 
    			information requested in the query. For example, if the query is 
    			'president of USA' and the page is about 'Barak Obama', 
    			it is considered relevant, on the other hand if the page is about 
    			'Cotton candy', it is irrelevant. </li>
    			<li> Given the webpage, we would like you to indicate how easy or difficult 
			was it for you to <b>read the webpage</b>. Was the webpage
    			text clear and easy to read. Whether the length or language of the webpage
    			impacted its readability. </li>
    			<li> We also ask you to mention how easy was it to <b>find the 
    			information required</b> to answer the query from the webpage. If you 
    			spent alot of time trying to find the information, please also provide the 
    			reason for your response.</li>
    			<li> We ask you to rate your <b>understanding of content</b> in web page.
    			Was the webpage text too vague or had too many images/ads/tables 
			that made it difficult to understand it.  
    			Where ever possible please provide factors that affected your understanding. </li>
    	</ul>		 
    
    	The above parameters are also explained in detail under '<b><i>Instructions</i></b>' on 
    	each page. Please click on '<b><i>Instructions</i></b>' button <img src='instructions.png' width = '85' height = '30'/>  
	to view them, in case you forget. <br/> 
		<br/>
		For each page please mark paragraphs relevant to the query using the '<b><i>Important</i></b>' button 
		<img src='important.png' width = '80' height = '25'/>  
		on the top. To view the portions you marked important, you can click '<b><i>View</i></b>' button.
		<img src='view.png' width = '65' height = '25'/> <br/> 
		<br/>
		Please <b> DO NOT CLICK</b> on any link on the page. Please <b>enable javascript</b> on your browser 
		to complete this HIT. Please do not refresh the 
		page or press back. Contact the Requester if something is not clear.
    	<br/>
    	<br/>
    	<b>HIT Payment </b>
    	<br/>
    	This HIT consists of <span style="font-weight:bold;">15 query-webpage pairs</span>. 
    	Please note that you will be payed 
    	<span style="font-weight:bold;">ONLY </span>when you <span style="font-weight:bold;">
    	COMPLETE QUESTIONS FOR ALL</span> query-webpage pairs. You may choose to skip a query 
    	and webpage if you cannot answer any question. If too many query-webpage pairs are skipped, 
    	you	may not be payed in full.  
    
  </div>
  <br/>
  <br/>
  <b>HIT Terms And Conditions </b>
  <br/>
  <div id="consent">
    By accepting this HIT, you confirm that you are willing to participate in this 
	experiment, and that you agree that the data you provide by participating 
	can be used in scientific publications (no identifying information will be used).
    Sometimes it is necessary to share the data elicited from you
    with other researchers for scientific purposes (for replication purposes). 
	That is the only reason for which we will share data. It will shared if 
	it is for non-commercial use. Identifying information will 
	<span style="font-weight:bold;">never</span> be shared 
	(your MTurk ID will be replaced with an arbitrary alphanumeric code).
  </div>

  <br/>
  <form id = 'worker_id_and_key_form' method='POST'>
	<center>
  	<p><b>Worker Id: </b> <input id='worker_id_input' name="worker_id_input" size ='40' value="" /> (on your Mechanical Turk Dashboard) <br/></p>
	<div id='worker_id_input_error'> </div>
  	<p> <b>Batch Id: </b> <input id= 'key_input' name="key_input"  size ='40' value=""/> (in the HIT description) <br/> </p>
	<div id='key_input_error'> </div>
  	<br/>
  	<table border="0" cellpadding="0" cellspacing="4">
  		<tbody>
  		<b>Please rate your expertise in reading and understanding English content</b>
  			<tr>
  				<td valign="center"><input name="proficiency" type="radio" value="non-prof" /><span class="answertext">Not proficient</span></td>
  			</tr>
  			<tr>
  				<td valign="center"><input name="proficiency" type="radio" value="slight-prof" /><span class="answertext">Slightly Proficient</span></td>
  			</tr>
  			<tr>
  				<td valign="center"><input name="proficiency" type="radio" value="prof" /><span class="answertext">Proficient </span></td>
  			</tr>
  			<tr>
  				<td valign="center"><input name="proficiency" type="radio" value="highly-prof" /><span class="answertext">Highly Proficient</span></td>
  			</tr>
  			
  	<br/>
  		</tbody>
  	</table>
  	<br/>
				 <div id='worker_id_and_key_form_error'> </div> 
  	<br/>

  	<input type= 'submit' value='Start HIT' class='submit'/> 
  	</center>
  </form>
 <input id='worker_id' class ='text' type='hidden'></input>
 <input id='key' class ='text' type='hidden'></input>

</div>

  <button id = 'instructions'>
  	<b>	Instructions </b>
  </button>
  <div id = 'attributes_and_description'>
  You are given a search query and a web page. You will then be asked 
  to answer some questions regarding the page and its content. 
  Assume that you were to issue the given query to a search engine (for example Google) 
  and were shown the corresponding webpage as search result, 
  we ask you 9 questions regarding the following parameters: <b>Relevance,  
  Readability, Findability and Understandability</b>. The parameters are explained below:
  <ul>		
	<li> <b>Relevance: </b> The given webpage is relevant if it provides 
	information requested in the query. For example, if the query is 
	'president of USA' and the page is about 'Barak Obama', 
	it is considered relevant, on the other hand if the page is about 
	'Cotton candy', it is irrelevant. </li>
	<li> Given the webpage, we would like you to indicate how easy or difficult 
	was it for you to <b>read the webpage</b>. Was the webpage
	text clear and easy to read. Whether the length or language of the webpage
	impacted its readability. </li>
	<li> We also ask you to mention how easy was it to <b>find the 
	information required</b> to answer the query from the webpage. If you 
	spent alot of time trying to find the information, please also provide the 
	reason for your response.</li>
	<li> We ask you to rate your <b>understanding of content</b> in web page.
	Was the webpage text too vague or had too many images/ads/tables 
	that made it difficult to understand it.  
	Where ever possible please provide factors that affected your understanding. </li>
  </ul>		 
	For each page please mark paragraphs that are relevant to the query.<br/>
	To mark, select the text using your mouse and click on '<b><i>Important</i></b>' 
	button on the top. <br/> 
	To view the portions you marked important, you can click '<b><i>View</i></b>' button. <br/> 
		Please <b> DO NOT CLICK</b> on any link on the page. <br/>
  </div>
 
 <button id='important_button'  >
	<b> Important </b>
 </button>
	<div id = 'important_div'>
	</div>

 <button id='view_important_button'>
	<b> View </b>
 </button>


<div id='labels_page'>

  <input id='query_document_id' class='text' type='hidden'> </input>
  <div id= 'query_and_document'>
	<p> <b> Suppose you submitted the following query to a search engine and the document below was shown as a result. </b></p>
	<b> Query: </b>   <span id='query'> query </span>  <br/>
	<b> Description: </b> <span id='query_description'>  description </span> <br/>
	<br/>
	<iframe align="middle" frameborder="1" height="650" id="document_frame" name="document_frame" scrolling="yes" src="" width="100%"></iframe>
  </div>
  <form id='questions_form', method='POST'>
 <div id='questions_form_error'> </div>
  <div id= 'questions'>
  <table border="0" cellpadding="0" cellspacing="4">
  	<tbody>
  	<b>1. Rate your <i><u>knowledge</u></i> on the topic? (this does not affect your pay)</b>
  		<tr>
  			<td valign="center"><input name="familier" type="radio" value="none" /><span class="answertext">No Knowledge</span></td>
  		</tr>
  		<tr>
  			<td valign="center"><input name="familier" type="radio" value="beginner" /><span class="answertext">Very little knowledge</span></td>
  		</tr>
  		<tr>
  			<td valign="center"><input name="familier" type="radio" value="intermediate" /><span class="answertext">Some knowledge</span></td>
  		</tr>
  		<tr>
  			<td valign="center"><input name="familier" type="radio" value="expert" /><span class="answertext">Expert in this topic</span></td>
  		</tr>
  	</tbody>
  </table>
 <div id='familier_input_error'> </div>
  <br/>
  
  <table border="0" cellpadding="0" cellspacing="4">
  	<tbody>
  	  <b>2. Would you be <i><u>satisfied (happy)</u></i> with this search result? </b>
  		<tr>
  			<td valign="center"><input name="happy" type="radio" value="yes" /><span class="answertext">Yes</span></td>
  		</tr>
  		<tr>
  			<td valign="center"><input name="happy" type="radio" value="no" /><span class="answertext">No</span></td>
  		</tr>
  		<tr>
  			<td valign="center"><input name="happy" type="radio" value="somewhat" /><span class="answertext">Somewhat</span></td>
  		</tr>
  		<tr>
  			<td valign="center"><input name="happy" type="radio" value="cant-judge" /><span class="answertext">Cant Judge (skip the rest of the questions)</span></td>
  		</tr>
  		<tr>
  			<td valign="center"><span class="answertext">Reason </span><textarea name="happy"  value="your explanation" > </textarea></td>
  		</tr>
  	</tbody>
  </table>
 <div id='happy_input_error'> </div>
  <br/>
  
  <table border="0" cellpadding="0" cellspacing="4">
  	<tbody>
  	<b>3. Is this document <i><u>relevant</u></i> to the query?</b>
  		<tr>
  			<td valign="center"><input name="relevance" type="radio" value="non-rel" /><span class="answertext">Nonrelevant</span></td>
  		</tr>
  		<tr>
  			<td valign="center"><input name="relevance" type="radio" value="some-rel" /><span class="answertext">Somewhat Relevant</span></td>
  		</tr>
  		<tr>
  			<td valign="center"><input name="relevance" type="radio" value="rel" /><span class="answertext">Relevant</span></td>
  		</tr>
  		<tr>
  			<td valign="center"><input name="relevance" type="radio" value="high-rel" /><span class="answertext">Highly Relevant</span></td>
  		</tr>
  		<tr>
  			<td valign="center"><input name="relevance" type="radio" value="broken-url" /><span class="answertext">Url is broken (Page not found or some error)</span></td>
  		</tr>
  	</tbody>
  </table>
  <div id='relevance_input_error'> </div>
  <br/>
  <table border="0" cellpadding="0" cellspacing="4">
  	<tbody>
  		<b>4. How difficult was it to  <i><u>understand</u></i> the document?</b>
  		<tr>
  			<td valign="center"><input name="understand" type="radio" value="some-diff" /><span class="answertext">Somewhat difficult</span></td>
  		</tr>
  		<tr>
  			<td valign="center"><input name="understand" type="radio" value="v-easy" /><span class="answertext">Very easy</span></td>
  		</tr>
  		<tr>
  			<td valign="center"><input name="understand" type="radio" value="easy" /><span class="answertext">Easy</span></td>
  		</tr>
  		<tr>
  			<td valign="center"><input name="understand" type="radio" value="v-diff" /><span class="answertext">Very Difficult</span></td>
  		</tr>
  		<tr>
  			<td valign="center"><span class="answertext">Reason </span><textarea name="understand"  value="your explanation" > </textarea></td>
  		</tr>
  	</tbody>
  </table>
 <div id='understand_input_error'> </div>
  <br/>
  
  <table border="0" cellpadding="0" cellspacing="4">
  	<tbody>
  		<b>5. How easy was it to <i><u>read</u></i> the document? </b>
  		<tr>
  			<td valign="center"><input name="read" type="radio" value="v-diff" /><span class="answertext">Very Difficult</span></td>
  		</tr>
  		<tr>
  			<td valign="center"><input name="read" type="radio" value="some-diff" /><span class="answertext">Somewhat difficult</span></td>
  		</tr>
  		<tr>
  			<td valign="center"><input name="read" type="radio" value="v-easy" /><span class="answertext">Very easy</span></td>
  		</tr>
  		<tr>
  			<td valign="center"><input name="read" type="radio" value="easy" /><span class="answertext">Easy</span></td>
  		</tr>
  	</tbody>
  </table>
  <div id='read_input_error'> </div>
  <br/>
  
  <table border="0" cellpadding="0" cellspacing="4">
  	<tbody>
  		<b>6. Did you <i><u>find</u></i> the required information in the document?</b>
  		<tr>
  			<td valign="center"><input name="find_info" type="radio" value="no" /><span class="answertext">No, did not find required information </span></td>
  		</tr>
  		<tr>
  			<td valign="center"><input name="find_info" type="radio" value="yes" /><span class="answertext">Yes, found all the information </span></td>
  		</tr>
  		<tr>
  			<td valign="center"><input name="find_info" type="radio" value="partial" /><span class="answertext">Somewhat, found only partial information </span></td>
  		</tr>
  	</tbody>
  </table>
  <div id='find_info_input_error'> </div>
  <br/>

  <table border="0" cellpadding="0" cellspacing="4">
  	<tbody>
  		<b>7. Is it <i><u>easy to find</u></i> answer of the query in the document?</b>
  		<tr>
  			<td valign="center"><input name="find" type="radio" value="v-easy" /><span class="answertext">Very easy</span></td>
  		</tr>
  		<tr>
  			<td valign="center"><input name="find" type="radio" value="v-diff" /><span class="answertext">Very Difficult</span></td>
  		</tr>
  		<tr>
  			<td valign="center"><input name="find" type="radio" value="easy" /><span class="answertext">Easy</span></td>
  		</tr>
  		<tr>
  			<td valign="center"><input name="find" type="radio" value="some-diff" /><span class="answertext">Somewhat difficult</span></td>
  		</tr>
  		<tr>
  			<td valign="center"><span class="answertext">Reason </span><textarea name="find"  value="your explanation" > </textarea></td>
  		</tr>
  	</tbody>
  </table>
  <div id='find_input_error'> </div>
  <br/>
  
  <table border="0" cellpadding="0" cellspacing="4">
  	<tbody>
  		<b>8. Did it take you a lot of <i><u>time to find</u></i> useful information in the document?</b>
  		<tr>
  			<td valign="center"><input name="find_time" type="radio" value="no" /><span class="answertext">No </span></td>
  		</tr>
  		<tr>
  			<td valign="center"><input name="find_time" type="radio" value="yes" /><span class="answertext">Yes </span></td>
  		</tr>
  	</tbody>
  </table>
  <div id='find_time_input_error'> </div>
  <br/>
  
  <table border="0" cellpadding="0" cellspacing="4">
  	<tbody>
  		<b>9. Was it very <i><u>difficult to understand</u></i> the document?</b>
  		<tr>
  			<td valign="center"><input name="understand_very_diff" type="radio" value="yes" /><span class="answertext">Yes</span></td>
  		</tr>
  		<tr>
  			<td valign="center"><input name="understand_very_diff" type="radio" value="no" /><span class="answertext">No</span></td>
  		</tr>
  	</tbody>
  </table>
  <div id='understand_very_diff_input_error'> </div>
  <br/>
  
  
  </div>
	<div id='query_count' > </div>
  <input type= 'submit' value='Next Query'/> 
  </form>
</div>

<div id='code_page'>
	<center><b>Thank you for participating in this study. </b> </center>
	<br/><br/>
	<center>Please enter the following code in MTurk to get payed. </center>
	<center><b>Code: </b> <div id='code_div'> </div> </center> 
</div>

</body>
</html>

