#selectioncontent {
    border: solid black 1px;
    padding: 0.125em;
    background-color: white;
    overflow: auto;
}

*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

*.warning {
    border: solid darkred 2px;
    padding: 3px;
    background-color: #f77;
}

 .highlight {
            background-color: yellow;
        }

        .note {
            background-color: limegreen;
        }

        #summary {
            border: dotted orange 1px;
        }


	#highlight_button {
	    position: absolute;
	    top: 0px;
	    right: 0px;
	}
